@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-family: "Madimi One", sans-serif;
}
body{
background-color: rgb(202, 43, 255) ;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 255, 255, 0);
    width: 100%;
    height: 100vh;
}
.main{
    background-color: rgba(240, 248, 255, 0);
    width: 55%;
    height: 65%;
    border: 5px solid white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.up{
    font-size: 60px;
    text-align: center;
    width: 100%;
    height: 30%;
    background-color: rgba(240, 248, 255, 0);
    padding-top: 17px;
    border-bottom: 5px solid white;
}

.down{
    padding-top: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 70%;
    height: 70%;
    font-size: 40px;
}

@keyframes fadeIn {
    0% { color: rgba(0, 0, 0, 0); }
    100% { color: rgb(255, 255, 255); }
  } 
  
.p1{
 color: rgba(0, 0, 0, 0);
 animation: fadeIn 0s forwards;
animation-delay: 1s;
}
.p2{
    color: rgba(0, 0, 0, 0);
    animation: fadeIn 0s forwards;
    animation-delay: 3s;
}
.p3{
    color: rgba(0, 0, 0, 0);
    animation: fadeIn 0s forwards;
    animation-delay: 5s;
}